@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  height: 100%; /* Asegura que el cuerpo y html ocupen toda la altura de la ventana */
  margin: 0; /* Elimina márgenes por defecto que pueden afectar el diseño */
  font-family: "Poppins", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.image-container img {
  width: 100%;
  height: auto; /* Esto mantiene la relación de aspecto */
  object-fit: cover; /* Esto asegura que la imagen se recorte bien si es necesario */
}
